#manual:
#pip install irc openai logging requests re asyncio random irc.bot spacy nltk en_core_web_sm logging urllib3 
#python -m spacy download en_core_web_sm

nltk
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
urllib3==1.26.7
requests
twitchio
openai
irc
logging
urllib3
sc2reader @ git+https://github.com/GraylinKim/sc2reader.git
spawningtool @ git+https://github.com/StoicLoofah/spawningtool.git